{{!-- {{ The section where the poll creating user logs in }} --}}

<h2 class="page-header body-header">Account Login</h2>
<form class="login-form" method="post" action="/users/login">
  <div class="form-group">
    <label>Username</label>
    <input type="text" class="form-control" name="username" placeholder="Username">
  </div>
  <div class="form-group">
    <label>Password</label>
    <input type="password" class="form-control" name="password" placeholder="Password">
  </div>
  <button type="submit" class="red-button" >Submit </button>
</form>
<div class="container spacer-container"></div>