<h2 class="body-header">Register</h2>
{{#if errors}}
      {{#each errors}}
        <div class="alert alert-danger">{{msg}}</div>
      {{/each}}
{{/if}}

<div class="marquee marquee-bgimg">
  <div class="marquee__image--homepage marquee__image" style="background-image:url('/images/thinking.jpg');"></div>
  <div class = "row">
    <div class="col-md-6 col-md-offset-3">

<form method="post" action="/users/register">
   <div class="form-group registrationForm">
    <label class="pull-left">Name</label>
    <input type="text" class="form-control" placeholder="Name" name="name">
  </div>
  <div class="form-group registrationForm">
    <label class="pull-left">Username</label>
    <input type="text" class="form-control" placeholder="Username" name="username">
  </div>
   <div class="form-group registrationForm">
    <label class="pull-left">Email</label>
    <input type="email" class="form-control" placeholder="Email" name="email">
  </div>
  <div class="form-group registrationForm">
    <label class="pull-left">Image Source</label>
    <input type="text" class="form-control" placeholder="ImageSource" name="imageSource">
  </div>

  <div class="form-group registrationForm">
    <label class="pull-left">Password</label>
    <input type="password" class="form-control" placeholder="Password" name="password">
  </div>
  <div class="form-group registrationForm">
    <label class="pull-left">Confirm Password</label>
    <input type="password" class="form-control" placeholder="Password" name="password2">
  </div>
  <button type="submit" class="red-button"> Submit </button>
</form>
</div>
  </div>

  </div>
</div>
