
/* COLORS:

light red - #B90504
dark red - #990100
dark gray - #333333
light gray - #E8E8E8
off white - #F6F6F6

*/
html {
    overflow: hidden;
    height: 100%;

}


body {
  padding-top: 100px;
  margin-bottom: 100px;
  width: 100%;
  height: 100%;
  overflow: auto;
  font-family: 'Cabin', sans-serif;
  background-image: url(/images/whirlpool.png);

}


/* Nav section */

.top-nav {

  background-color: #990100;
}

.navbar-brand {

    margin: 2%;
}

.navigation-links {

  color: white;
  font-size: 1.2em;
}

  .logo {

    padding-left: 20px;
    margin: 0px;
  }

.shop-btn {

  padding: 4px 10px 4px 10px;
  border-radius: 5px;
  background-color: white;
  color: black;
  font-weight: bolder;
  letter-spacing: 1px;
}

.navigation-links {

  margin-top: 15px;
  font-size: 1.2em;
}

.navbar-container {

    padding: 20px 0 20px 0;
}

.navbar.navbar-fixed-top.fixed-theme {

    background-color: #222;
    border-color: #080808;
    box-shadow: 0 0 5px rgba(0,0,0,.8);
}

.navbar-brand.fixed-theme {

    font-size: 18px;
}

.navbar-container.fixed-theme {

    padding: 0;
}

.navbar-brand.fixed-theme,
.navbar-container.fixed-theme,
.navbar.navbar-fixed-top.fixed-theme,
.navbar-brand,
.navbar-container{

    transition: 0.8s;
    -webkit-transition:  0.8s;
}

@media(min-width: 590px) {

  .navbar-button {
    color: white;

  }
}

/* Login // register section*/

.body-header {

  font-family: 'Cabin', sans-serif;
  font-weight: bolder;
  text-align: center;
  margin-top: 0px;
}

.form-control {

  border-radius: 6px !important;
}

.red-button {
  box-shadow: none;
  background-color: #B90504;
  color: white;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 5px;
  border: 2px solid transparent;
  letter-spacing: .1em;
  border-radius: 5px;
}

.red-button-inline {
  box-shadow: none;
  background-color: #B90504;
  color: white;
  margin: 0px 0px 0px 6px;
  padding: 4px;
  border-radius: 5px;
  border: 1px solid transparent;

}

.login-form {

  margin-bottom: 80px;
}

/* Profile sidebar */

.profile-sidebar{

  background: #fff;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 60px;
}

.sidebar-text {

  font-size: 1.2em;
  display: inline;
  font-size: 1.5em;
  color: #333333;
}

.x-box {

  padding-top: 2px;
  margin-right: 2px;
}

.profile-userpic img {

  float: none;
  border-radius: 8px;
  width: 100%;
  height: 80%;
  border-radius: 0;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

.profile-usertitle {

  text-align: center;
  margin-top: 20px;
  color: #333333;
}

.profile-usertitle-name {

  color: #333333;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 7px;
}

.profile-usertitle-job {

  text-transform: uppercase;
  color: #990100;
  font-size: 14px;
  font-weight: bolder;
  margin-bottom: 15px;
}

.profile-userbuttons {

  text-align: center;
  margin-top: 10px;
}

.profile-userbuttons .btn {

  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  padding: 6px 15px;
  margin-right: 5px;
}

.profile-userbuttons .btn:last-child {

  margin-right: 0px;
}

.profile-usermenu {

  margin-top: 30px;
}

.profile-usermenu ul li {

  border-bottom: 1px solid #f0f4f7;
}

.profile-usermenu ul li:last-child {

  border-bottom: none;
}

.profile-usermenu ul li a {

  color: #93a3b5;
  font-size: 14px;
  font-weight: 400;
}

.profile-usermenu ul li a i {

  margin-right: 8px;
  font-size: 14px;
}

.profile-usermenu ul li a:hover {

  background-color: #fafcfd;
  color: #5b9bd1;
}

.profile-usermenu ul li.active {

  border-bottom: none;
}

.profile-usermenu ul li.active a {

  color: #5b9bd1;
  background-color: #f6f9fb;
  border-left: 2px solid #5b9bd1;
  margin-left: -2px;
}

/* Profile Content */

.panel1 {

  background-color: #E8E8E8 !important;
  min-height: 100px;
  font-size: 2.14286rem !important;
  color: #fff !important;
}

.panel2 {

  background-color: #E8E8E8 !important;
  min-height: 100px;
  font-size: 2.14286rem !important;
}

.panel3 {

  background-color: #E8E8E8 !important;
  min-height: 100px;
  font-size: 2.14286rem !important;
}

.poll-title {

  color: #333333;
  text-align: center;
}

.poll-info {

  text-align: center;
  color: #333333;

}

.poll-svg {

  margin: auto;
  display: block;
  padding: 5%;
}

.panel {

  border: 0px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#ex1Slider .slider-selection {

	background: #BABABA;
}

.pollChoice {

  border-radius: 4px !important;
  margin-bottom :1em;
}

/* Poll creation section */

.poll-description {

  color: #333333;
  font-weight: bolder;
  margin-bottom: 35px;
  font-size: 1.3em;
}

.choices-column {

  padding-left: 0px !important;
}


.form {
  display: inline-block;
  width: 75%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
}

/* Poll answer section */

.bottom-spacer {
  margin-bottom: 50px;
}

.success-message {

  text-align: center;
  margin-top: 30px;
  margin-bottom: 240px;
  font-weight: bolder;

}

.poll-submit-form {

  margin-bottom: 20px;
}

/* Poll display section */

.chart-panel {

  background-color: #E8E8E8 !important;
  border: 0px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 15px;
  max-width: 400px;
  font-family: 'Cabin', sans-serif;
}

#charDisplaySection {
  padding: 8px;
}

/* Modal section */

.modal-content {

  color: #E8E8E8;
}

.modal-header {

  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  background-color: #990100;
}

.modal-title {

  text-align: center;
  color: #F6F6F6;
  font-size: 2em;
}

.modal-text-top {

  text-align: center;
  color: #333333;
  font-size: 1.4em;
  font-weight: bolder;
  margin: 5%;
}

.modal-text-bottom {

  text-align: center;
  color: #333333;
  font-size: 1.2em;
  margin: 5%;
}

/* only shows up in the modal */
.poll-link {

  text-align: center;
  color: #990100;
  font-size: 1.2em;
  margin: 5%;
}

.dynamicChart {

  min-height: 200px;
}
.dynamicChart {
  min-height: 200px;
}


/* */

.dropdown.dropdown-lg .dropdown-menu {
    margin-top: -1px;
    padding: 6px 20px;
}
.input-group-btn .btn-group {
    display: flex !important;
}
.btn-group .btn {
    border-radius: 0;
    margin-left: -1px;
}
.btn-group .btn:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.btn-group .form-horizontal .btn[type="submit"] {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.form-horizontal .form-group {
    margin-left: 0;
    margin-right: 0;
}
.form-group .form-control:last-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

@media screen and (min-width: 768px) {
    #adv-search {
        width: 500px;
        margin: 0 auto;
    }
    .dropdown.dropdown-lg {
        position: static !important;
    }
    .dropdown.dropdown-lg .dropdown-menu {
        min-width: 500px;
    }
}

/* Footer section */


.footer {

  width: 100%;
  height: 65px;
  position: relative;
  bottom: -100px;
  left: 0px;
  background-color: #990100;
  padding-top: 20px;
}

.footer-text {

  font-weight: bolder;
  text-align: center;
  color: white;
  font-size: 1em;
  margin-top: 5px;
}
